@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F5F8FE;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    max-width: 1140px;
    margin: 0 auto;
}

/*nav style*/
.navigation {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.links {
    justify-content: space-between;
    gap: 48px;
}

/*banner styles*/
.banner {
    margin-bottom: 120px;
}

.banner div h3 {
    font-size: 4rem;
}

.banner div h3 span {
    color: #E95A08;
}

.banner div p {
    font-size: 1.3rem;
}

.banner img {
    width: 100%;
}

/*main section*/
.main h3 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.main h3 span {
    color: #E95A08;

}

.main p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 49px;
}


/*card section*/

.cards {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main .cards h5 {
    font-size: 1.3rem;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main .cards h4 {
    font-size: 1.3rem;
    color: #111111;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .cards button {
    width: 270px;
    height: 48px;
    background-color: #E95A08;
    color: white;
    font-weight: 400;
}

.daddy-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    margin-bottom: 210px;
}


/*trusted section*/
.trusted{
    margin-bottom: 100px;
}

.trusted div {
    height: 480px;
}

.trusted h3 {
    font-size: 3.1rem;
}

.trusted ul li {
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.image-container .fake {
    width: 70%;
    position: relative;
    top: -530px;
    left: 200px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*latest deals styles*/
.deals{
    margin-bottom: 120px;
}
.deals p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    width: 888px;
    margin: 0 auto;
}
.deals h3{
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
}
.deals h3 span{
    color:#E95A08;
}

/*3 piece image part still undone*/
.bd-0{
    background-image: url(../assets/deal-bloom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bd-1{
    background-image: url(../assets/deal-ana.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bd-2{
    background-image: url(../assets/deal-zabo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*email section*/
.email{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    padding: 180px 400px;
    margin-bottom: 50px;
}

section form{
    display: flex;
    justify-content: center;
}

.email h3{
    text-align: center;
    color: white;
    font-size: 3.1rem;
    margin-bottom: 23px;
}
form input[type="email"]{
    width: 620px;
    height: 44px;
    background-color: white;
    padding-left: 20px;
}
form input[type="submit"]{
    width: 186px;
    height: 44px;
    color: white;
    background-color: #E95A08;
}


/*footer styles*/
footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.part-1{
    display: flex;
    flex-direction: column;
}
.part-1 img{
    width: 135px;
}
.part-1 p{
    width: 350px;
    margin-top: 20px;
}
.part-2 li{
    margin-bottom: 24px;
}
.part-3 {
    display: flex;
    flex-direction: column;
}
.part-3 li {
    margin-bottom: 24px;
}
.part-4 ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}